@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-1: #EBEBD3;
    --color-2: #E2E3CD;
    --color-3: #8D958D;
    --color-4: #76807C;
    --color-5: #001524;
    --min-body-width: 300px;
    --header-height: 70px;
    --menu-width: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    min-width: var(--min-body-width);
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
    vertical-align: top;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

/* Header */
header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--color-1);
    background-color: var(--color-5);
}

#toggle-menu-btn {
    display: none;
    font-size: 3rem;
}

/* Main */
main {
    min-height: calc(100vh - var(--header-height));
    display: flex;
}

/* Menu */
#menu {
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem 0 1rem 0;
    color: var(--color-1);
    background-color: var(--color-4);
}

#menu > div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#menu nav.default-projects,
#menu nav.custom-projects {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#menu h2 {
    margin-left: 1rem;
}

#menu button {
    display: flex;
    column-gap: 0.5rem;
    padding: 1rem;
    text-align: left;
    background-color: var(--color-4);
}

#menu button:hover,
#menu nav button.active {
    background-color: var(--color-3);
}

/* Content */
#content {
    flex: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    color: var(--color-5);
    background-color: var(--color-1);
}

#add-task-btn {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#add-task-btn:hover {
    background-color: var(--color-2);
}

#tasks-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-body-width), 1fr));
    gap: 1rem;
}

/* Task */
.task {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    color: var(--color-1);
    background-color: var(--color-5);
}

.task nav {
    display: flex;
    column-gap: 1rem;
}

.task.priority-1 {
    border-right: 1rem solid red;
}

.task.priority-2 {
    border-right: 1rem solid yellow;
}

.task.priority-3 {
    border-right: 1rem solid green;
}

/* Overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

#overlay.active {
    display: block;
}

/* Modal */
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.1s;
    z-index: 1;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
    color: var(--color-1);
    background-color: var(--color-4);
    border: 2px solid var(--color-1);
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#modal form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#modal form input,
#modal form button {
    width: 100%;
    padding: 6px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    background-color: inherit;
    border: 2px solid var(--color-1);
    outline: none;
}

#modal form button {
    margin-top: 1rem;
}

#modal form button:hover {
    background-color: var(--color-3);
}

/* Media queries */
@media (max-width: 700px) {
    #toggle-menu-btn {
        display: block;
    }
    
    main {
        flex-direction: column;
    }

    #menu {
        display: none;
        width: 100%;
    }

    #menu.active {
        display: flex;
    }
}